body {
  margin: 0;
  height: 100vh;
}

section {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:gray;
    text-align: center;
}

div {
    width: 50%;
    height: 50%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

span {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

span:hover {
    cursor: pointer;
}

label {
    padding-top: 2rem;
    font-size: 1rem;
}

#email {
    font-size: 1rem;
    width: 80%;
    padding: 0.8rem;
}

#submit {
    font-size: 1.3rem;
    padding: 0.5rem;
    background: red;
    color: white;
    border-radius: 0.3rem;
    border: none;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
}